<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">タブ1</a>
        </li>
        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">タブ2</a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
          <% if @user.posts.any? %>
          <p>Posts (<%= @user.posts.count %>)</p>
          <ol class="posts">
            <%= render @posts %>
          </ol>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
          <p>タブ2</p>
        </div>
      </div>
    </div>
  </div>
</div>
