<ol class="posts">
  <% @trend_items.each.with_index(1) do |post, i| %>
    <li>
      <span class="rank">第<%= i %>位</span>
      <%= render partial: 'posts/post', locals: { post: post } %>
    </li>
  <% end %>
</ol>
