<h3 class="trend">ランキング</h3>
<div class="container" style="width: 100%;">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">全期間</a>
    </li>
    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">週間</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <% if @trend_items.any? %>
        <ol class="posts">
          <% @trend_items.each.with_index(1) do |post, i| %>
            <li>
              <span class="rank">第<%= i %>位</span>
              <%= render partial: 'posts/post', locals: { post: post } %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <% if @weekly_trend_items.any? %>
        <ol class="posts">
          <% @weekly_trend_items.each.with_index(1) do |post, i| %>
            <li>
              <span class="rank">第<%= i %>位</span>
              <%= render partial: 'posts/post', locals: { post: post } %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </div>
</div>
