<div class="row">
  <div class="col-md-8">
    <ol class="posts">
      <li>
        <% if @search_items %>
          <%= render partial: 'posts/post', collection: @search_items, as: :post %>
        <% else %>
        <% end %>
      <li>
    </ol>
  </div>
</div>
