<h1>Posts</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <%= render 'post', post: post %>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "新規投稿", :new_post %></p>
