<% provide(:title, "Search Results") %>
<div class="row">
  <div class="col-md-8">
    <ol class="posts">
      <% if @search_items.any? %>
        <% @search_items.each.with_index(1) do |post, i| %>
          <li>
            <%= render partial: 'posts/post', locals: { post: post } %>
          </li>
        <% end %>
      <% else %>
        <li>No results found</li>
      <% end %>
    </ol>
  </div>
</div>
